<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="head">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">User Dashboard Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Other</a>
                        </li>
                    </ul>
                    <span>Hello, {{username}}, {{userID}} | </span> 
                    <a href='/logout'>Logout</a>
                </div>
            </nav>
        </div>
        <div class="body">
            <div class="card-deck">
                <div class="card">
                    <div class="card-header">
                        Edit User {{editingUser.first_name}}
                        {% if messages %}
                        {% for message in messages %}
                        {{message}}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <form action="/validateEditUserName/{{editingUser.id}}" method="POST">
                            {%csrf_token%}
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" name="email" value="{{editingUser.email}}" id="email">
                            </div>
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" class="form-control" name="first_name" value="{{editingUser.first_name}}" id="first_name">
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" class="form-control" name="last_name" value="{{editingUser.last_name}}" id="last_name">
                            </div>
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div> 
                <div class="card">
                    <div class="card-header">
                        Update Password
                    </div>
                    <div class="card-body">
                        <form action="/validateEditUserPass" method="POST">
                            {%csrf_token%}
                            <div class="form-group">
                                <label for="password_initial">Password</label>
                                <input type="password" class="form-control" name="password_initial" id="password_initial">
                            </div>
                            <div class="form-group">
                                <label for="password_confirm">Password Confirm</label>
                                <input type="password" class="form-control" name="password_confirm" id="password_confirm">
                            </div>
                            <button type="submit" class="btn btn-success">Update Password</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Update Desc
                    </div>
                    <div class="card-body">
                        <form action="/validateEditUserDesc" method="POST">
                            {%csrf_token%}
                            <div class="form-group">
                                <label for="userDesc">Description</label>
                                <textarea class="form-control" id="userDesc" name="userDesc"  value="{{editingUser.description}}" rows="3"></textarea>
                              </div>
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div>
            </div> 
        </div> 
        </div>
    </div>
</body>
</html>