<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="jumbotron">
                <h1 class="display-4">Lavender Connection Guest Information</h1>
                <p class="lead">This project was made with django and bootstrap.</p>
                <hr class="my-4">
                <p>V 1.0</p>
                <a class="btn btn-primary btn-lg" href="/signin" role="button">Start</a>
              </div>
        </div>
        <div class="bodfy">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Manage Users</h5>
                        <p class="card-text">Using this applicaiton, you'll learn how to add, edit, and manage users.</p>
                        <p class="card-text"><small class="text-muted">Dashboard </small></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sort Data</h5>
                        <p class="card-text">Users will be able to sort guest information.</p>
                        <p class="card-text"><small class="text-muted">Data</small></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit user information</h5>
                        <p class="card-text">Admins will be able to edit another user's information</p>
                        <p class="card-text"><small class="text-muted">Admin, users/edit/{user_id}</small></p>
                    </div>
                </div>
                
              </div>
        </div>
    </div>    
</body>
</html>